/* Page */
html, body {
  /*scrollbar-color: #fe53e1 var(--gray3);*/
  scrollbar-color: unset;
}
.page {
  background: pink;
  color: black;
  font-family: monospace;
}

/* Header */
.nounderline.header img {
  display: none;
}
.nounderline.header div::before {
  content: url("https://koyu.space/favicon.ico");
}
header a div h1 { color: black; }

/* Body */
h1, h2, h3, h4, h5, .displayname {
  font-family: "Verdana", sans-serif;
}
p { font-size: large; }
.profile, .thread { color: white; }
.toot .displayname, footer a, .backnextlinks a { font-size: medium; }



/* Main */
.profile .basic .avatar, .toot .avatar {
  border-color: #fe53e1;
}


/* Posts */
h2#recent {
  display: none;
  content: "Latest public posts";
}
.button, .toot .media .no-image-desc {
  background: #fe53e1;
}
.button:hover {
  background: pink;
}


/* Footer */
footer a, .backnextlinks a {
  color: blue;
}